/****************************************************************************
 *																			*
 * 							JOPLIN APP STYLE								*
 *   (except the HTML-ized markdown, which is defined in "userstyle.css")	*
 * 																			*
 * 						designed by xplosionmind							*
 *																			*
 ****************************************************************************/


:root {
    --text: white;
    --white-ish: #EEE;
    --light-grey: #656565;
    --grey: #292929;
	--dark-grey: #333;
    --black-ish: #1E1E1E;
    --primary: #FCC920;
    --secondary: #EC0868;
	--green: #20CE88;
    --regular: 18px;
    --big: 24px;
    --font-sans: Inter;
    --font-mono: "Ubuntu Mono";
	--font-cond: "Barlow Condensed";
    --bold: 700;

	--background: var(--grey);
	--background2: var(--dark-grey);
	--background3: var(--black-ish)
}

/*****************************************************
 * IMPROVEMENTS TODO LIST:
 * - change color of selected notebook 
 * - vertically center TAG text in its box
 * - popup windows
 *     - buttons
 *     - font
 *****************************************************/

body {
    font-family: var(--font-sans), -apple-system, Helvetica !important;
	background: var(--background3) !important;
}

/* REMOVE SEPARATION LINE BETWEEN NOTE CONTENT AND NOTEBOOK LIST */
#react-root *, #tinymce {
    border: 0 !important;
	background: none !important
}

/* TAG LIST */
.tag-list {
	border-bottom: none !important;
}

/* TAGS IN TAGS LIST (IF PRESENT) */
.tag-list span {
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: var(--bold);
}

/* INPUT FIELDS */
#react-root input {
    border-radius: 13px !important;
	outline: none;
	font-family: var(--font-sans) !important;
	background: var(--background2) !important
}

/* NOTE TITLE */
#react-root div div div div div input {
	font-weight: bold;
	font-size: var(--big) !important;
}

/* INPUT FIELDS WHEN FOCUSED */
#react-root input:focus {
	background: var(--secondary) !important;
}


/*****************
  MARKDOWN EDITOR 
 *****************/
.ace_editor div, .ace_editor span {
    font-family: var(--font-mono) !important;
    color: var(--white-ish)
}

/* HEADINGS */
.ace_heading {
    color: var(--text) !important;
	font-weight: bold
}

/* VARIABLES */
.ace_variable {
    color: var(--text) !important;
}

/* LIST AND CHECKBOX ELEMENTS */
.ace_list {
    color: #BEDAF6 !important;
}

/* TEXT IN [BRACKETS] */
.ace_string {
    color: var(--primary) !important;
}

/* BOLD TEXT */
/*.ace_string.ace_strong {
	color: var(--primary) !important;
} */


/* ITALIC TEXT */
.ace_string.ace_emphasis {
/*	color: var(--primary) !important; */
	font-style: italic;
}

/* INLINE CODE AND CODEBLOCKS */
.ace_support.ace_function {
	color: #D8BEF6 !important;
}

/* HTML TAGS */
.ace_meta /*ace_tag ace_punctuation ace_tag-close ace_xml*/ {
	color: var(--green) !important
}

/* CURSOR */
#react-root .ace_cursor {
    /* prevent cursor from blinking */
	/* https://discourse.joplinapp.org/t/share-your-css/1730/17 */
	opacity: .5 !important;
	background: var(--primary) !important;
	border: var(--primary) !important;
}/*.ace_cursor-layer:not(.ace_hidden-cursors)*/ 

/*****
  GUI
 *****/
/* "ALL NOTES", "NOTEBOOKS", "TAGS" */
.side-bar div span {
	font: 700 var(--regular) var(--font-cond) !important;
	color: var(--white);
	text-transform: uppercase;
}

.side-bar * {
	background: transparent !important
}

.side-bar div div div {
	font: 13px var(--font-cond);
}

/* SYNC BUTTON */
#react-root .synchronize-button {
	border: none !important;
	background: var(--background2) !important;
	border-radius: 7px !important;
	color: var(--white-ish) !important;
	text-transform: uppercase;
	font-weight: var(--bold);
}

/************ 
  NOTES LIST 
 ************/
/* FOLDERS LIST BACKGROUND */
#react-root .item-list .list-item-container:nth-child(even) {
	background: var(--background2) !important
}

/* TO-DOs CHECKBOXES */
.note-list input[type="checkbox"i] {
    opacity: 0.5 !important;
    margin-right: 1em !important;
}

.tags, .list-item, .list-item-container a span {
	font: var(--regular) var(--font-cond) !important;
    color: var(--white) !important;
}

.list-item-container * {
	text-transform: uppercase
}

/* NOTE OR FOLDER HOVERED OR ACTIVE */
#react-root .list-item-container a:hover, #react-root .list-item-container:hover,
#react-root .list-item-container a:focus, #react-root .list-item-container:focus,
#react-root .list-item-container a:active, #react-root .list-item-container:active {
	background: var(--primary) !important;
	color: var(--background3) !important;
	outline: 0 !important
}

/*******
  ICONS
 *******/
.fa {
    color: var(--light-grey) !important;
}

.fas {
	font-size: 16px !important
}

.button {
	text-transform: uppercase;
}

/********
  HEADER
 ********/
.header, .header div, .header .button {
    border-bottom: none !important;
	font-family: var(--font-sans) !important;
	color: var(--light-grey) !important;
	/* HIDE HEADER */
/*	display: none !important; */
}

.header .title {
    color: var(--light-grey);
}

/* TOGGLE SIDEBAR ICON */
.header *:nth-child(1) {
    order: 1;
}

/* TOGGLE NOTES LIST ICON */
.header *:nth-child(2) {
    order: 2;
}

/* NEW NOTE ICON */
.header *:nth-child(3) {
    order: 5;
}

/* NEW TODO ICON */
.header *:nth-child(4) {
    order: 6;
}

/* NEW NOTEBOOK ICON */
.header *:nth-child(5) {
    order: 4;
    margin-left: var(--big);
}

/* LAYOUT ICON */
.header *:nth-child(6) {
    order: 3;
}

/* SEARCH */
.header *:nth-child(7) {
    order: 7;
    margin-left: 117px;
}

/* SEARCH BAR */
.header *:nth-child(7) input {
    margin-left: auto !important;
    width: var(--regular);
}

.header *:nth-child(7) a {
    display: none;
}

.header .title {
    display: none !important;
}
