/****************************************************
 *                                                	*
 *	  Joplin dark theme, designed by xplosionmind 	*
 *               https://tommi.space				*
 *                                                  *
 ****************************************************/

:root {
	--black-ish: #111;
	--white-ish: #E0E0E0;
	--dark-grey: #222;
	--light-grey: #BBB;
	--yellow: #FCC920;
	--blue: #3185FC;
	--red: #D00;
	--green: #20CE88;
	--razzmatazz: #EC0868;

	--tiny: 0.2rem;
	--tinyem: 0.2em;
	--small: 0.5rem;
	--smallem: 0.5em;
	--lessthan-regular: 0.9rem;
	--regular: 1.1rem;
	--regular-em: 1.1em;
	--morethan-regular: 1.3rem;
	--morethan-regular-em: 1.3em;
	--big: 1.6rem;
	--big-em: 1.6em;
	--bigger: 1.8rem;
	--bigger-em: 1.8em;
	--twice: 2.2rem;
	--height: 3.1rem;
	--mastodon: 4.4rem;
	--margin: 6.5rem;
	--trans: .5s;
	--quicktrans: .1s;

	--primary: var(--yellow)
}

* {
	border: 0 !important; /* remove all borders, they're ugly */
	font: 1.1em Helvetica
}

/* change selection color (it appears darker than it should) */
::selection {
	color: #222 !important;
	background: var(--primary) !important;
}

/* remove notes separator in list */
.note-list *::before {
	border-bottom: none !important;
}

.note-list, .sc-fzqNJr {
	background: #222 !important;
}

/* differenciate notes' background in list for a better readability */
.note-list .list-item-container:nth-child(even) {
	background: var(--black-ish) !important;
}

.note-list .list-item-container:nth-child(even):hover {
	background: var(--primary) !important;
}

.note-list .list-item-container:nth-child(even):hover * {
	color: #222 !important;
}

.side-bar>div, .fZxMYz {
	background: #222 !important
}

/* add a MacOS-like thin border to separate the sidebar and the note list*/
.side-bar {
	border-right: solid 1px black !important
}

.editor-toolbar {
	background: none !important
}

/* highlight in yellow hovered and selected notes and notebooks */
.list-item-container:active,
.list-item-container:focus,
.list-item-container:hover {
	background: var(--primary) !important;
}

.list-item-container:hover *,
.list-item-container:active *,
.list-item-container:focus * {
	color: #222 !important;
}

/* new notebook and new note buttons */
.eopHcM {
	background: var(--primary) !important;
	border-radius: 5px !important
}

/* search icon */
.icon-search {
	color: var(--primary) !important
}

/* tags in tags editor */
.css-8hn3v4-multiValue, .css-8hn3v4-multiValue *{
	background: var(--primary) !important;
	color: #222 !important;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px !important
}

/* tags at the bottom of the page */
.tag-list span {
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 5px !important
}

/* "x" when typing in search bar*/
.fCCgEl {
	color: var(--primary) !important
}

/* Fixes a display bug where the last few letters of a full-width line can't be seen */
.CodeMirror-lines {
	width: 96% !important
}

/* style links in pop-up windows */
.note-property-box a {
	color: var(--primary) !important
}

/* use mono font when editing stuff in popup windows */
input.form-control {
	font: 1.1em "Ubuntu Mono", "Fira Code", mono !important
}

/* increase note title font size */
.rli-editor input {
	font-size: 1.1em !important;
	margin-left: var(--morethan-regular) !important
}
