/****************************************************************************
 *																			*
 * 						JOPLIN RENDERED TEXT STYLE							*
 *   			(to style the whole app, edit "userstyle.css")				*
 * 																			*
 * 						designed by xplosionmind							*
 *																			*
 ****************************************************************************/


:root {
    --text: white;
    --white-ish: #EEEEEE;
    --light-grey: #A6A6A6;
    --dark-grey: #222;
    --black-ish: #111;
    --primary: #FCC920;
    --secondary: #EC0868;
	--green: #20CE88;
    --regular: 18px;
    --big: 24px;
    --font-sans: Inter;
    --font-mono: "Ubuntu Mono";
	--font-cond: "Barlow Condensed";
    --bold: 700;

	--background: black;
}

/*****************************************************
 * IMPROVEMENTS TODO LIST:
 * - checkbox style
 * - custom syntax highlighting css import
 *****************************************************/

/* CODE BLOCKS FRAME*/
.hljs {
    background: var(--dark-grey);
    padding: var(--regular);
    border-radius: 10px !important;
}

/* RENDERED CONTENT PADDING */
#rendered-md {
    padding: 5%
}

body, th, td {
    font: var(--regular) var(--font-sans) !important;
    color: var(--text);
    background: var(--background);
}

body {
	line-height: 1.5em !important
}

th {
	font-weight: var(--bold) !important;
	background: var(--primary) !important;
	color: var(--background) !important
}

th, td {
	border: 1px solid var(--dark-grey) !important;
}


/*********
  HEADERS
 *********/
p, h1, h2, h3, h4, h5, h6, ul, table {
    margin-top: 0;
}

p {
    color: var(--text);
    margin-bottom: var(--regular)
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--bold) !important;
    margin-top: var(--big);
	text-transform: uppercase !important;
}

h1 {
    font-size: 300% !important;
    border-bottom: none !important;
}

h1:first-child {
    margin-top: 0px !important;
}

h2 {
    font-size: 200%;
}

h3 {
	font-size: 165%;
}


h4 {
    font-size: 140%;
}


/* LINE SEPARATOR */
hr {
    padding: var(--big) !important;
	border: 1px solid var(--secondary);
}
/*
.md-checkbox {
    margin-left: 0 !important;
}

.md-checkbox .checkbox-wrapper {
    align-items: flex-start;
}
*/
.md-checkbox input[type="checkbox"i] {
	background: var(--dark-grey) !important;
    /*opacity: 0.8 !important;*/ /* it must be fully opaque or custom bullet point will be shown */
	border: none !important; */
}

.md-checkbox input[type=checkbox]:checked {
	opacity: 1 !important;
}

a {
    text-decoration: none !important;
    color: var(--primary) !important
}

a:hover {
    border-bottom: 2px dashed var(--primary) !important;
}

hr, .footnotes-sep {
    border: 0;
    border-bottom: 2px dashed var(--secondary) !important
}

/* INTERNAL LINKS COLOUR */
a[data-resource-id] {
    color: var(--secondary) !important;
    /* https://discourse.joplinapp.org/t/share-your-css/1730/65 */
}

a[data-resource-id]:hover {
    border-bottom: 2px dashed var(--secondary) !important;
}

/* JOPLIN ICON IN JOPLIN INTERNAL LINK */
.resource-icon {
    background: var(--secondary) !important;
	transform: scale(0.8);
	top: .3em !important;
}

/*  ```
    CODE BLOCKS
    ```           */
.code, code, pre {
    font-family: var(--font-mono) !important;
}

/* `INLINE CODE` */
.inline-code {
    padding: .3em .5em .2em .5em !important;
    border-radius: 6px !important;
    background: var(--dark-grey) !important;
    border: none !important;
}

/* OCCURENCES OF SEARCH TERM */
mark[data-markjs] {
	background: var(--secondary);
}
/* CURRENT SEARCH TERM (LOCAL SEARCH) */
mark[data-markjs].mark-selected {
	background: var(--secondary);
}


/************
  PDF EXPORT 
 ************/
@media print {
  body, p, ol, ul, li, em, strong, b {
    color: var(--black-ish) !important;
  }
  body {
	font-family: Inter, Helvetica, "Helvetica Neue", sans;
	background: white;
  }
  .exported-note-title {
    border: 0;
	text-align: center
  }
  h1 {
	color: black;
    border: 0
  }
  h2, h3, h4, h5, h6 {
    color: #005;
	border: 0
  }
  a {
    color: var(--primary);
    text-decoration:none
  }
  a code, a:link code, a:visited code {
    color: var(--primary);
  }
  .code, code, pre, .inline-code, .mce-content-body code {
	border-radius: 5px !important;
    outline: none;
    border: none !important;
	background: var(--white-ish) !important;
	color: black
  }
  table, pre {
    page-break-inside: avoid
   }
  pre {
	word-wrap: break-word
  }
  .footnotes-sep {
    border-bottom: 2px dashed var(--primary) !important
  }
  blockquote {
  color: #111;
  font: italic 1em "Playfair Display",Merriweather,Times,serif;
  margin: 1em 0;
  border-left: 4px dashed #EC0868;
  padding-left: .6em
  }
}
